<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbdLSGca3goBR3_EzVuKiORwcDu8ioYEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>908142505254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sovanza.terracekitchen</string>
	<key>PROJECT_ID</key>
	<string>voice-flow-a-i-h66sff</string>
	<key>STORAGE_BUCKET</key>
	<string>voice-flow-a-i-h66sff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908142505254:ios:b2f60623c4cdbf8a4e25e7</string>
</dict>
</plist>